#First example

In [ ]:
print('Hello, World!')

In [ ]:
import pandas as pd

In [ ]:
print(pd)

In [17]:
import json
import xml.etree.ElementTree as ET
import sqlite3

# Create a SQLite in-memory database and sample data
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Create tables
cursor.executescript("""
CREATE TABLE employees (id INTEGER, name TEXT, salary INTEGER, department_id INTEGER);
CREATE TABLE departments (id INTEGER, department_name TEXT);
INSERT INTO departments VALUES (1, 'IT'), (2, 'HR'), (3, 'Finance');
INSERT INTO employees VALUES (1, 'John Doe', 60000, 1), (2, 'Jane Smith', 75000, 2), (3, 'Sam Brown', 50000, 3);
""")

# SQL JOIN query
query = """
SELECT e.id, e.name, e.salary, d.department_name  
FROM employees e  
JOIN departments d ON e.department_id = d.id;
"""
cursor.execute(query)
rows = cursor.fetchall()

# Convert to JSON
json_data = {"employees": [{"id": row[0], "name": row[1], "salary": row[2], "department_name": row[3]} for row in rows]}
json_output = json.dumps(json_data, indent=2)

# Convert to XML
root = ET.Element("employees")
for row in rows:
    emp = ET.SubElement(root, "employee")
    ET.SubElement(emp, "id").text = str(row[0])
    ET.SubElement(emp, "name").text = row[1]
    ET.SubElement(emp, "salary").text = str(row[2])
    ET.SubElement(emp, "department_name").text = row[3]

xml_output = ET.tostring(root, encoding="utf-8").decode()

# Print results
print("JSON Output:\n", json_output)
print("\nXML Output:\n", xml_output)

# Close connection
conn.close()

JSON Output:
 {
  "employees": [
    {
      "id": 1,
      "name": "John Doe",
      "salary": 60000,
      "department_name": "IT"
    },
    {
      "id": 2,
      "name": "Jane Smith",
      "salary": 75000,
      "department_name": "HR"
    },
    {
      "id": 3,
      "name": "Sam Brown",
      "salary": 50000,
      "department_name": "Finance"
    }
  ]
}

XML Output:
 <employees><employee><id>1</id><name>John Doe</name><salary>60000</salary><department_name>IT</department_name></employee><employee><id>2</id><name>Jane Smith</name><salary>75000</salary><department_name>HR</department_name></employee><employee><id>3</id><name>Sam Brown</name><salary>50000</salary><department_name>Finance</department_name></employee></employees>

In [25]:
import json
import pandas as pd

# Load the JSON file
json_file_path = r"C:\Users\palla\OneDrive\Desktop\Ventois Project\Example sql file.json"

# Read JSON data
with open(json_file_path, "r") as file:
    data = json.load(file)

# Print JSON data
print("ðŸ“Œ JSON Data Loaded:")
print(json.dumps(data, indent=4))

# Convert to Pandas DataFrame for tabular view
df = pd.DataFrame(data)

# Display the DataFrame
print("\nðŸ“Œ Data in Tabular Format:")
print(df)

ðŸ“Œ JSON Data Loaded:
[
    {
        "id": 2,
        "name": "Jane Smith",
        "salary": 75000
    },
    {
        "id": 4,
        "name": "Alice Green",
        "salary": 80000
    },
    {
        "id": 5,
        "name": "Bob White",
        "salary": 70000
    }
]

ðŸ“Œ Data in Tabular Format:
   id         name  salary
0   2   Jane Smith   75000
1   4  Alice Green   80000
2   5    Bob White   70000